{%extends "base.html"%}
{% from "macros.html" import render_pagination,render_job %}
{% block title %}
job
{% endblock %}
{#
{%block body%}

<div class="jumbotron">
    <h1>职位</h1>
</div>
    
<div class="job-list">
    {%for job in pagination.items %}
    {{ render_job(job)}}
    {%endfor%}
</div>
#}
{%block body%}
 <div class="row">
     {% for job in pagination.items %}
     <div class="col-sm-6 col-md-4 company">
         <div class="thumbnail">
         <div class="caption">
             <a href="{{ job.id }}">
             <h3 class="job__name">{{ job.name }}</h3>
             <h6 class="create__time">{{ job.updated_at }}</h6>
             <h6 class="job__tag">{{ job.tags }}</h6>
       </a>
         </div>
       <hr>
 <img src="{{ job.company.logo }}" width="100" hight="100"alt="logo">
       <a href="{{url_for('company.detail',company_id=job.id)}}">
          {{job.company.user.username}}
     </div>
   </div>
   {% endfor %}
 </div>
 {{ render_pagination(pagination,"job.index")}}
 {%endblock%}


