{%extends "base.html"%}
{%block title %}
company - {{company.user.username}}
{%endblock%}

{%block body%}
<div class="jumbotron">
<div class="row">
  <div class="col-md-8">
    <h3> 公司详情:</h3>
    <p>{{company.about}}</p>
  </div>
  <div class="col-md-4">
    地点 基本信息 
    <p>{{company.location}}</p>
  <div class="have_job">
    在聘职位

    {%for job in company.jobs%}
    <a href="{{url_for('job.detail',job_id=job.id)}}">
  <div class="have_job1">
      <h4> {{job.name}}</h4> 
      {{job.tags}}
      {{ job.lowsalary }}-{{ job.highsalary }}{{job.work_year}}
      </a>
  </div>
  {%endfor%}
   </div>
   <div class="col-md-4">
  地点 基本信息 
    公司名称{{company.name}}
    </div>
<div class="row">
<div class="col-md-8">
    公司详情{{company.about}}
   </div>
   <div class="col-md-4">
  地点 基本信息 
    {{company.location}}
   </div>
   </div>
{% endblock %}
